/* header and nav layout */
header nav {
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / 50px 1fr 100px;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  z-index: 1;
  background-color: var(--background-color);
  width: 100vw;
  height: var(--nav-height);
  box-sizing: border-box;
  font-family: var(--body-font-family);
  border-bottom: 1px solid #ccc;
}

header nav a:any-link {
  color: currentcolor;
  text-decoration: none;
}

header nav[aria-expanded='true'] {
  display: grid;
  flex-direction: row;
  justify-content: flex-start;
}

/* brand */
header .nav-brand {
  grid-area: brand;
  font-size: 22px;
  font-weight: 700;
  line-height: 1em;
}

header nav .nav-brand p {
  margin-top: -13px;
  margin-left: -29px;
  position: absolute;
  display: flex;
  width: 100vw;
  justify-content: center;
}

header nav .nav-brand img {
  width: 60px;
  height: 42px;
}

.header nav .nav-brand picture::after {
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-image: url("../../styles/global-nav-logo-bg.png");
  display: block;
  content: "   ";
  color: white;
  height: 20px;
  width: 100px;
  z-index: 20000;
  margin-left: -18px;
  margin-top: -1.8px;
}

/* hamburger */
header nav .nav-hamburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: hamburger;
  height: 22px;
  padding-top: 3px;
  cursor: pointer;
  width: 70px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  color: #607d8b;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 16px;
  height: 2px;
  border-radius: 3px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: '';
  position: absolute;
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 5px;
  transform: translate(-3px, -2px);
}

header nav[aria-expanded='true'] .nav-hamburger span {
  display: none;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after,
header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 22px;
  height: 2px;
  background: currentcolor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

header nav .nav-sections {
  grid-area: sections;
  width: 100%;
  display: none;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

header nav .nav-sections li {
  font-size: 20px;
  font-weight: 500;
  color: #666;
}

header nav[aria-expanded='true'] ul > li {
  display: flex;
  justify-content: center;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  flex: 0 0 auto;
  height: 22px;
  cursor: pointer;
  z-index: 10;
}

header nav .nav-tools p {
  display: flex;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #666;
}

header nav .nav-tools p a:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav .nav-tools p a:nth-child(1) span {
  display: flex;
  margin-right: 4px;
}

header nav[aria-expanded='true'] .nav-tools img {
  display: unset;
}

header nav[aria-expanded='true'] .nav-tools ul {
  font-size: unset;
  flex-direction: column;
}

header nav[aria-expanded='true'] .nav-tools li {
  padding: 0;
}

header nav .nav-tools p .icon-search svg {
  width: 17px;
  height: 17px;
}

header nav .nav-tools .search-dialog {
  opacity: 1;
  background-color: hsl(0deg 0% 100% / 85%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  transition: background-color 1ms;
  padding: 30px 40px;
  backdrop-filter: blur(4px);
  cursor: default;
}

header nav .nav-tools .search-dialog-hidden {
  display: none;
}

header .search-dialog-header {
  width: 100%;
  display: flex;
  align-content: end;
  justify-content: right;
  max-width: 660px;
  height: 50px;
  margin: 20px auto;
}

header .close-search {
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-right: 20px;
  margin-top: -80px;
}

header .close-search::before {
  background-image: url("../../styles/crossicon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
}

header .search-dialog-body {
  display: block;
  max-width: 660px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 430px;
}

header .search-dialog-body label {
  color: #666;
  width: 100%;
  font-size: 1.9rem;
  margin-bottom: 30px;
}

header .search-dialog-body label::before {
  background-image: url("../../styles/dove-icon.webp");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 38px;
  width: 38px;
  left: calc(50% - 20pt);
  position: absolute;
  margin-top: -60px;
}

header .search-dialog-body input {
  border: 0;
  border-bottom: 1px solid #aaa;
  color: #002663;
  font-size: 3rem;
  font-weight: 200;
  background-color: transparent;
  height: 50px;
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.nav-sections .search-dialog-body label {
  color: white;
  margin-left: 0;
}

.nav-sections .search-dialog-body label::before {
  display: none;
}

header .search-dialog-body .search-mag {
  background-repeat: no-repeat;
  background-image: url("../../icons/search.svg");
  background-color: transparent;
  background-size: contain;
  border: 0;
  height: 20px;
  left: 10px;
  line-height: unset;
  margin: unset;
  min-width: unset;
  padding: unset;
  position: absolute;
  right: unset;
  text-indent: -999px;
  top: 73px;
  width: 30px;
}

.nav-sections .search-dialog-body .search-mag {
  left: 20px;
}

.nav-sections .search-dialog-body input {
  background: white;
  border-radius: 3px;
  width: calc(100% - 20pt);
}

header .search-dialog-body input::placeholder {
  color: #aaa;
}

header .search-dialog-body input:focus {
  outline: none;
}

header .search-dialog-body .clear-search {
  visibility: hidden;
  width: 30px;
  background-color: transparent;
  display: inline;
  position: relative;
  padding: 0;
  top: -70px;
  right: -200px;
  height: 51px;
}

.nav-sections .search-dialog-body .clear-search {
  top: -65px;
  right: -180px;
}

header .search-dialog-body .clear-search::before {
  background-image: url("../../styles/icon-close-grey.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 20px;
  width: 20px;
  display: block;
  position: relative;
}

header .search-dialog-body .search {
  display: none;
  background-color: white;
  border: solid #ccc;
  border-radius: 3px;
  border-width: 1px 1px 3px;
  color: #002663;
  float: right;
  font-size: 1.6rem;
  font-weight: 300;
  position: relative;
  min-width: 110px;
  padding: 0;
  top: 0;
  right: 4.8rem;
  height: 51px;
  transition: background-color 0.6s ease-out;
  width: 100px;
}

.nav-sections .search-dialog-body {
  text-align: center;
}

header .search-dialog-body button.search:hover {
  background-color: #ccc;
}

/* sections */
header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  flex-direction: column;
  position: fixed;
  background-color: rgb(0 38 99 / 80%);
  backdrop-filter: blur(10px);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 64px;
  align-items: center;
  opacity: 1;
  z-index: -10;
}

header nav .close-menu {
  display: none;
}

header nav[aria-expanded='true']:has(li[aria-expanded='true']) .close-menu {
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: unset;
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
}

header nav[aria-expanded='true']:has(li[aria-expanded='true']) .close-menu::before {
  content: "expand_more";
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: "Material Icons";
  font-size: 2rem;
  font-weight: 400;
  height: auto;
  opacity: 0.3;
  transform: rotate(90deg);
  width: auto;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
}

header nav[aria-expanded='true'] .nav-sections ul > li > a {
  display: block;
}

header nav[aria-expanded='true'] .nav-sections a:any-link {
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 38px 20px;
}

header nav[aria-expanded='true'] .nav-sections ul > li:has( > ul) > a::after {
  background-position-x: center;
  border: solid #999;
  border-width: 0 1px 1px 0;
  content: "";
  display: inline-block;
  height: 7px;
  position: absolute;
  right: 50px;
  transform: rotate(-45deg) translateY(20px);
  width: 7px;
}

header nav[aria-expanded='true'] .nav-sections > ul {
  margin-top: 100px;
}

header nav[aria-expanded='true'] .nav-sections ul li {
  display: none;
}

header nav[aria-expanded='true'] .nav-sections > ul > li {
  display: flex;
  justify-content: center;
}

header nav[aria-expanded='true'] .nav-sections > ul:has(>li[aria-expanded='true']) > li {
  display: none;
}

header nav[aria-expanded='true'] .nav-sections > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] {
  display: flex;
  justify-content: center;
}

header nav[aria-expanded='true'] .nav-sections > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > a {
  display: none;
}

header nav[aria-expanded='true'] .nav-sections > ul > li[aria-expanded='true'] > ul > li {
  display: flex;
  justify-content: center;
}

header nav[aria-expanded='true'] .nav-sections > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > ul:has(>li[aria-expanded='true']) > li {
  display: none;
}

header nav[aria-expanded='true'] .nav-sections > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] {
  display: flex;
  justify-content: center;
}

header nav[aria-expanded='true'] .nav-sections > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > a {
  display: none;
}

header nav[aria-expanded='true'] .nav-sections > ul > li[aria-expanded='true'] > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > ul > li {
  display: flex;
  justify-content: center;
}

header nav[aria-expanded='true'] .nav-sections > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > ul:has(>li[aria-expanded='true']) > li {
  display: none;
}

header nav[aria-expanded='true'] .nav-sections > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] {
  display: flex;
  justify-content: center;
}

header nav[aria-expanded='true'] .nav-sections > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > a {
  display: none;
}

header nav[aria-expanded='true'] .nav-sections > ul > li[aria-expanded='true'] > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > ul:has(>li[aria-expanded='true']) > li[aria-expanded='true'] > ul > li {
  display: flex;
  justify-content: center;
}

html:has(header nav .nav-sections li[aria-expanded = true]) {
  overflow: hidden;
}

html:not(:has(header nav .nav-sections li[aria-expanded = true])) {
  overflow: scroll;
}

/* desktop nav styles */
@media (min-width: 769px) {
  header nav {
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    padding: 16px 2rem 16px 3rem;
  }

  header nav .nav-sections {
    display: unset;
  }

  header .search-dialog-header {
    width: 100%;
    display: flex;
    align-content: end;
    justify-content: right;
    max-width: 660px;
    height: 50px;
    margin: 50px auto 20px;
  }

  header .search-dialog-body {
    display: block;
    max-width: 660px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
  }

  header .close-search {
    background-color: transparent;
    padding: 0;
    margin: 0;
    margin-right: 50px;
  }

  header .search-dialog-body label {
    color: #666;
    width: 100%;
    font-size: 3rem;
    margin-left: 55px;
  }

  header .search-dialog-body label::before {
    background-image: url("../../styles/dove-icon.webp");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 38px;
    width: 38px;
    left: 0;
    position: absolute;
    margin-top: 15px;
  }

  header .search-dialog-body input {
    width: calc(100% - 180px);
    border: 0;
    border-bottom: 1px solid #aaa;
    color: #002663;
    font-size: 3rem;
    font-weight: 200;
    background-color: transparent;
    height: 50px;
    padding-left: 10px;
  }

  header .search-dialog-body .search {
    display: revert;
    margin-top: 30px;
  }

  header .search-dialog-body .search-mag {
    display: none;
  }

  .nav-sections .search-dialog-body label {
    color: white;
    margin-left: 55px;
  }

  .nav-sections .search-dialog-body label::before {
    display: revert;
  }

  .nav-sections .search-dialog-body {
    text-align: left;
  }

  .nav-sections .search-dialog-body input {
    width: calc(100% - 180px);
  }

  header .search-dialog-body .clear-search {
    visibility: hidden;
    width: 30px;
    background-color: transparent;
    display: inline;
    position: relative;
    padding: 0;
    top: 0;
    right: 2.5rem;
    height: 51px;
  }

  header nav .nav-sections .close-menu span{
    display: none;
  }

  header nav:has(.nav-sections li[aria-expanded = true]) .close-menu {
    background: transparent url("../../styles/cross.svg") no-repeat;
    background-size: contain;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 90px;
    right: 40px;
    padding: 0;
  }

  header nav:not(:has(.nav-sections li[aria-expanded = true])) .close-menu {
    display: none;
  }

  header nav .nav-sections > ul > li.nav-drop {
    position: relative;
  }

  header nav .nav-hamburger {
    display: none;
  }

  header nav .nav-brand {
    flex: 0 0 80px;
  }

  header nav .nav-sections > ul {
    display: grid;
    grid-template-columns: repeat(2,1fr) 100px repeat(2,1fr);
    background-color: unset;
    width: unset;
    margin: 0;
  }

  header nav .nav-sections li a {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 4px;
    line-height: 1rem;
  }

  header nav .nav-sections .search-contents {
    margin-bottom: 34px;
  }

  header nav[aria-expanded='true'] .nav-sections ol {
    display: flex;
    min-height: unset;
  }

  header nav .nav-sections > ul > li {
    position: relative;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    padding-top: 0;
    display: flex;
    justify-content: center;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    visibility: visible;
    flex-direction: column;
    position: fixed;
    background-color: rgb(0 38 99 / 80%);
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    left: 0;
    padding: 16px;
    margin: 44px 0 0;
    align-items: center;
    opacity: 1;
  }

  header nav .nav-sections > ul > li > ul ul {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .4s ease-in;
  }

  header nav .nav-sections li[aria-expanded='true'] > ul {
    display: flex;
    visibility: visible;
    flex-direction: column;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul {
    margin-top: 0;
    padding-top: 0;
    top: 64px;
    z-index: -1;
    cursor: default;
    overflow: auto;
  }

  header nav .nav-sections > ul > li > ul:any-link {
    font-size: var(--body-font-size-m);
  }

  header nav .nav-sections > ul > li  li[aria-expanded=true] > ul{
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 1;
    transition: height .6s ease-out;
  }

  header nav .nav-sections > ul > li > ul > li[aria-expanded='true']:last-child:has(ul) {
    padding-bottom: 50px;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > a::before {
    background-image: url("../../styles/global-nav-marker.svg");
    background-size: contain;
    position: fixed;
    content: "";
    display: inline-block;
    height: 8px;
    width: 18px;
    top: 0;
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 16px;
  }

  header nav .nav-sections > ul > li > ul > li > a{
    padding: 8px 16px;
    line-height: 4.2rem;
  }

  header nav .nav-sections > ul > li > ul > li > ul a{
    line-height: 2.4rem;
    color: white;
    padding: 10px 90px;
  }

  header nav .nav-sections > ul > li:nth-child(3){
    grid-column: 4;
  }

  header nav .nav-sections > ul > li > ul > li:first-child {
    padding-top: 170px;
  }

  header nav .nav-sections > ul > li li:has(ul) > a::after {
    background-image: url("../../styles/menu-dropdown.svg");
    background-position: 50%;
    background-size: 200%;
    background-repeat: no-repeat;
    content: "";
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-left: 20px;
  }

  header nav .nav-sections > ul > li li[aria-expanded='true']:has(ul) > a::after {
    background-image: url("../../styles/menu-cross.svg");
  }

  header nav .nav-sections li[aria-expanded='true'] > ul > li > a {
    transition: all .5s ease-in-out;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li > a {
    color: white;
    font-size: 3rem;
  }

  header nav .nav-sections > ul > li > ul:has( > li[aria-expanded='true']) > li > a{
    opacity: 0.2;
  }

  header nav .nav-sections li[aria-expanded='true'] > ul > li > a:hover {
    transform: scale(1.1);
    text-decoration: none;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul > li[aria-expanded='true'] > a{
    opacity: 1;
  }
}
