/* block specific CSS goes here */

main .hero-container>div {
  max-width: unset;
}

main .hero-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 35px 0;
  text-align: center;
}

main .hero {
   padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  margin-top: -75px;
}

main .hero .hero-content {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  position: static;
  -webkit-transform: none;
  transform: none;
  width: 100%;

  margin: auto;
  max-width: none;
  padding: 24px 34px;
  text-align: center;
  width: 100%;
  z-index: 0;

  max-width: 512px;
  padding: 0 10px;
  width: 50%;
}

main .hero .hero-title, main .hero .hero-description, main .hero .hero-more {
  max-width: 1200px;
  margin-bottom: 20px;
  margin-top: 0;
}

main .hero .hero-description {
  display: block;
  margin-bottom: 0;
  max-height: none;
  overflow: hidden;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

main .hero .hero-image {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: -1;
}

main .hero .hero-image:before {
  background-color: #fff;
  border-radius: 100%;
  content: "";
  height: 150%;
  left: -60%;
  opacity: 0.4;
  position: absolute;
  top: 90%;
  -webkit-transform: translateY(-10px) rotate(-1.8deg);
  transform: translateY(-10px) rotate(-1.8deg);
  -webkit-transition: top 0.8s 0.2s;
  transition: top 0.8s 0.2s;
  width: 220%;
  z-index: 22;
}

main .hero .hero-image:after {
  background-color: #fff;
  border-radius: 100%;
  content: "";
  height: 150%;
  left: -60%;
  opacity: 1;
  position: absolute;
  top: 89%;
  -webkit-transition: top 0.8s 0.2s;
  transition: top 0.8s 0.2s;
  width: 220%;
  z-index: 0;
}

@media only screen and (min-width: 768px) {
  main .hero .hero-image:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 86%;
    -webkit-transform: translateY(-15px) rotate(-1.7deg);
    transform: translateY(-15px) rotate(-1.7deg);
  }

  main .hero .hero-image:after {
    top: 86%;
  }
}

main .hero .hero-image img {
  top: -25px;
  aspect-ratio: 1600/750;
  display: block;
  height: auto;
}