div.home-story-wrapper {
    max-width: 1000px;
    height: 730px;
}

.home-story > div {
    display: block;
    align-content: center;
    max-width: 1000px;
    height: 730px;
    overflow: visible;
    position: relative;
}

.home-story:first-of-type > div {
    background:url("https://assets.unileversolutions.com/v1/305727.png?im=AspectCrop=(800,600);Resize=(800,600)") no-repeat;
    background-size: cover
}

.home-story.first:first-of-type > div {
    background:url("https://assets.unileversolutions.com/v1/945216.png?im=AspectCrop=(800,600);Resize=(800,600)") no-repeat;
    background-size: cover
}

.home-story .picture {
    position: absolute;
    width: 400px;
    min-width: 400px;
    height: 400px;
    min-height: 400px;
    overflow: hidden;
}

.home-story .picture.right {
    right: 0;
}

.home-story.variant1 .picture.right {
    top: 150px;
}

.home-story.variant2 .picture.left {
    top: 150px;
}

.home-story img {
    border-radius: 50%;
}

.home-story .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width: 435px;
    min-width: 435px;
    height: 435px;
    min-height: 435px;
    overflow: visible;
    top: 50px;
    left: 280px;
}

.home-story .content h2, .home-story .content h1 {
    text-align: center;
    font-size: 4rem;
    line-height: 4.8rem;
    margin-top: 1.6em;
    margin-bottom: 1rem;
}

.home-story .content p {
    font-size: 1.6rem;
    line-height: 2.3rem;
    text-align: center;
    width: 395px;
    margin-top: 0;
    overflow: hidden;
}

.home-story .content a {
    background-color: white;
    border: 1px solid #dbc081;
    border-radius: revert;
    color: #002663;
    font-weight: 300;
    font-size: 1.6rem;
    height: 51px;
    line-height: 4.8rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0 30px;
    width: auto;
    position: relative;
}

.home-story .content a::after {
    background: linear-gradient(90deg,#b78938 0,#dabf80 25%,#ffe2ac 51%,#dabf80 76%,#b78938);
    bottom: 0;
    content: "";
    display: inline-block;
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
}

.home-story .content a:hover {
    background-color: #dbc081;
    border-color: #b78938;
    border-width: 1px;
    color: #fff
}

@media (max-width: 1024px) {
    div.home-story-wrapper {
        max-width: revert;
        height: revert;
    }

    .home-story > div {
        max-width: 740px;
        position: relative;
        left: calc(50% - 370px);
        height: 700px;
    }

    .home-story:first-of-type > div {
        background-size: 110%;
    }

    .home-story.first:first-of-type > div {
        background-size: 110%;
    }

    .home-story .picture {
        width: 300px;
        min-width: 300px;
        height: 300px;
        min-height: 300px;
    }

    .home-story .content {
        max-width: 380px;
        min-width: 380px;
        max-height: 380px;
        min-height: 380px;
        left: calc(50% - 190px);
    }

    .home-story .content h2, .home-story .content h1 {
        font-size: 3rem;
        font-weight: 200;
        line-height: 3.6rem;
        margin-top: 30px;
        max-width: 300px;
    }

    .home-story .content p {
        width: 350px;
    }
}

@media (max-width: 768px) {
    div.home-story-wrapper {
        max-width: revert;
        height: revert;
    }

    .home-story {
        display: block;
        width: 100%;
    }

    .home-story > div {
        max-width: 340px;
        position: relative;
        left: calc(50% - 170px);
        height: 550px;
    }

    .home-story:first-of-type > div {
        background-size: 70vw;
    }

    .home-story.first:first-of-type > div {
        background-size: 70vw;
    }

    .home-story .picture {
        width: 200px;
        min-width: 200px;
        height: 200px;
        min-height: 200px;
    }

    .home-story.variant1 .picture.right {
        top: 0;
    }

    .home-story.variant2 .picture.left {
        top: 0;
    }

    .home-story .content {
        left: 0;
        border-radius: 0;
        height: 350px;
        min-height: 100px;
        width: 100%;
        margin-top: 125px;
        min-width: revert;
        background-color: hsl(0deg 0% 100% / 90%);
    }

    .home-story .content::before {
        clip: rect(0,800px,15px,0);
        background: inherit;
        border-radius: 50%;
        content: "";
        display: inline-block;
        height: 30px;
        left: 0;
        position: absolute;
        top: -15px;
        vertical-align: middle;
        width: 100%;
    }

    .home-story .content h2, .home-story .content h1 {
        font-size: 2.2rem;
        line-height: 2.8rem;
        margin-top: 0;
    }

    .home-story .content p {
        width: 100%;
    }
}
