.button .button-container {
    display: block;
    text-align: center;
}

.button a:any-link {
    background-color: #fff;
    border: solid #ccc;
    border-radius: 3px;
    border-width: 1px 1px 3px;
    color: #002663;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.406px;
    line-height: 3.1rem;
    max-width: none;
    min-width: 166px;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.6s ease-out,border-color 0.6s ease-out;
}

.button a:focus {
    outline: 0.2rem solid #2954ff;
    outline-offset: .2rem
}

.button.blue a {
    background: #003e7c;
    border-bottom: 3px solid;
    border-color: #002663;
    color: #fff;
}

.button.blue a:hover {
    background: #002663;
}
